@{
    ViewBag.Title = "MVCBank Hakkında";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Bankamız 2016 yılının sonlarına doğru Sn. Yusuf Kocaman'ın girişimleri ile kadıköyde kurulmuştur. Kısa zamanda büyük bir ilerleme gösteren bankamızın bu ilerleme ile birlikte ikinci şubesi ümraniyede açılmıştır. Müşteri memnuniyetine özen gösteren bankamız faiz oranları en düşük banka olma özelliğine sahiptir.</p>
