@{
    ViewBag.Title = "İletişim";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Adres ve iletişim bilgilerimize aşağıdan ulaşabilirsiniz.<br />
    Hasanpaşa Mh, Uzunçayır Cad 4/A, 34722 Kadıköy/İstanbul<br />
    <abbr title="Phone">Tel:</abbr>
    0(216)4432111 
</address>

<address>
    <strong>Destek:</strong>  nemutludogukan@hotmail.com</><br />
    
</address>