@{
    ViewBag.Title = "MVCBank";
}

<div class="jumbotron">
    <h1>MVCBank - YOKSA SİZ HALA...</h1>
    <p class="lead"></p>
    <p></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>MVCSüper Kredi - Az Faizle Çok Para</h2>
        <p>
            Türkiye'nin en uygun faiz oranlarına sahip olan MVC Süper kredi ile paranızı alır , 36 aya kadar taksitlendirir ve %0.18 e varan faiz oranlarıyla rahatça geri ödeyebilirsiniz. İster ev , ister araba , ister ihtiyaç kredisi. Adres belli : MVCBank
        </p>
       
    </div>
    <div class="col-md-4">
        <h2>Esnek Hesaplı MVCParamKart</h2>
        <p>MVCParamKart ile -1500 TL ye kadar esnek hesap limitine sahip olabilirsiniz. İsterseniz 12 aya kadar taksitlendirme yaparak taksitli nakit avans kullanabilirsiniz. MVCParam Kart ile herşey eskisinden daha kolay olacak.</p>
      
    </div>
    <div class="col-md-4">
        <h2>MVCBonus Kart</h2>
        <p>Kredi kartı kullanmaktan korkmanıza artık gerek kalmadı. MVCBonusKart ile kart limitinizi kendiniz belirleyebilir , taksitli nakit avans için faiz ödemeyip 12 aya kadar taksitlendirebilirsiniz. Bitmedi! Anlaşmalı markalardan yaptığınız alışverişlerde %25'e kadar indirim fırsatlarından faydalanabilirsiniz. Yoksa siz hala MVCBonus Kart almadınız mı ? </p>
        
    </div>
</div>